<div class="container">
  <div class="head-container">
    <div class="head-label">
      <div class="area-span1"></div>
      <div class="patient-rcrd-label"><p>New Patient Record</p></div>
      <div class="area-span2"></div>
    </div>
    <div class="doctor-info">
      <p class="doctor-name">Dr. Abc IJK Xyz <sub>(MBBS, ___ Specialist )</sub></p>
    </div>
    <div class="doctor-logo">
      <img src='https://www.jotform.com/uploads/utkuyildirim/form_files/dr.5f327cf9785fa8.05675056.5f48f8215276c2.83332452.png'>
    </div>
  </div>
</div>
