<div class="form-container">
    <div class="testbox">
      <form action="/">
        <p class="top-info">Add a Patient Record</p>
        <div class="item">
          <p>Name<span class="required">*</span></p>
          <div class="name-item">
            <input type="text" name="name" placeholder="First" required/>
            <input type="text" name="name" placeholder="Last" required/>
          </div>
        </div>
        <div class="question">
          <p>Gender<span class="required">*</span></p>
          <div class="question-answer">
            <label><input type="radio" value="none" name="gender" required/> <span>Male</span></label>
            <label><input type="radio" value="none" name="gender" required/> <span>Female</span></label>
          </div>
        </div>
        <div class="item">
          <p>Phone Number</p>
          <input type="text" name="name"/>
        </div>
        <!-- <div class="item">
          <p>Your current weight (lbs)<span class="required">*</span></p>
          <input type="text" name="name"/>
        </div>
        <div class="item">
          <p>Desired weight (lbs)<span class="required">*</span></p>
          <input type="text" name="name" required/>
        </div>
        <div class="item">
          <p>Height<span class="required">*</span></p>
          <input type="text" name="name" required/>
        </div> -->
        <div class="item">
          <p>Home Address<span class="required">*</span></p>
          <input type="text" name="name" placeholder="Street address" required/>
          <div class="city-item">
            <input type="text" name="name" placeholder="City" required/>
            <input type="text" name="name" placeholder="Region" required/>
            <input type="text" name="name" placeholder="Postal / Zip code" required/>
            <select>
              <option value="">State...</option>
              <option value="PJB">Punjab</option>
              <option value="SND">Sindh</option>
              <option value="BLCH">Balochistan</option>
              <option value="KBPKH">Khyber Pakhtunkhwa</option>
              <option [disabled]="true" value="">Federal Government State</option>
              <hr>
              <option value="ICT"> Islamabad Capitol Territory </option>
            </select>
          </div>
        </div>
        <!-- <div class="item">
          <p>Email<span class="required">*</span></p>
          <input type="text" name="name" required/>
        </div> -->
        <div class="item">
          <p>Prescription<span class="required">*</span></p>
          <input type="text" name="name" required/>
        </div>
        <div class="item">
          <p>Visited Date<span class="required">*</span></p>
          <input type="datetime" name="name" required/>
        </div>
        <!-- <div class="question">
          <p>Do you require a personal trainer?<span class="required">*</span></p>
          <div class="question-answer">
            <label><input type="radio" value="none" name="personal-trainer" required/> <span>Yes</span></label>
            <label><input type="radio" value="none" name="personal-trainer" required/> <span>No</span></label>
          </div>
        </div>
        <div class="question">
          <p>Have you been in a Gym before?<span class="required">*</span></p>
          <div class="question-answer">
            <label><input type="radio" value="none" name="gym-before" required/> <span>Yes</span></label>
            <label><input type="radio" value="none" name="gym-before" required/> <span>No</span></label>
          </div>
        </div>
        <div class="question">
          <p>Membership Type<span class="required">*</span></p>
          <div class="question-answer">
            <label><input type="radio" value="none" name="membership" required/> <span>Regular</span></label>
            <label><input type="radio" value="none" name="membership" required/> <span>Pro</span></label>
            <label><input type="radio" value="none" name="membership" required/> <span>VIP</span></label>
          </div>
        </div> -->
        <div class="btn-block">
          <button type="submit" href="/">Apply</button>
        </div>
      </form>
    </div>
</div>
